<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Category</title>
</head>
<body>

    <h2><font color={{ category.color }}>{{ category.title }}</font></h2>
    <p>{{ category.status }}</p>
    <p>{{ category.createdAt | date("m/d/Y") }}</p>
    <p><a href="./delete-category.php?id={{ category.id }}">Delete this category</a></p>
    
</body>
</html>